<img width="377" height="23" alt="backups " src="https://github.com/user-attachments/assets/84253539-df94-4bd1-a246-98b766401e78" />

<img width="484" height="95" alt="eigrp config R1" src="https://github.com/user-attachments/assets/f7928b86-065a-4623-83ee-5fa8a7ece950" />

<img width="480" height="96" alt="eigrp config R2" src="https://github.com/user-attachments/assets/9aa72e7d-015e-4d12-826c-12544fab813f" />

<img width="480" height="206" alt="eigrp routes R1" src="https://github.com/user-attachments/assets/a0135f03-71af-4bd0-8598-852dc9411339" />

<img width="479" height="251" alt="loopbacks config R1" src="https://github.com/user-attachments/assets/d1afff6a-26b7-4fcf-a3cc-ec0874038d56" />


<img width="484" height="248" alt="loopbacks config R2" src="https://github.com/user-attachments/assets/f99728b2-792c-4692-9e39-248bbc767d70" />

<img width="448" height="124" alt="plbk1" src="https://github.com/user-attachments/assets/c7db0e09-d2a8-490e-935a-9e33e1444f56" />

<img width="437" height="259" alt="plbk2" src="https://github.com/user-attachments/assets/4d681e39-2b39-4667-abb4-e80d7a491a5c" />

<img width="411" height="143" alt="plbk3" src="https://github.com/user-attachments/assets/fe8d3b03-28b4-4b0c-aeac-2b4cabd531a2" />

<img width="428" height="173" alt="plbk4" src="https://github.com/user-attachments/assets/960bfff4-0a2b-46ce-8404-cc44d1889c58" />

<img width="420" height="170" alt="plbk5" src="https://github.com/user-attachments/assets/3430e5f7-f41a-4f95-af4c-3d1041149a37" />

<img width="406" height="173" alt="plbk6" src="https://github.com/user-attachments/assets/5979dae4-3710-4178-80d7-e8ee9f521636" />

<img width="387" height="472" alt="r1 backup" src="https://github.com/user-attachments/assets/ac03f9ea-9ae6-4691-afc8-ae1afe269a38" />

<img width="460" height="203" alt="trunk config sw1" src="https://github.com/user-attachments/assets/2c60e5d1-48b4-4daa-89a8-8346e918e569" />

<img width="466" height="238" alt="vlan and trunk config sw1" src="https://github.com/user-attachments/assets/4a67581f-6839-4b0a-87db-8cb5d6b037e7" />













